.register {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #020617;
  color: #fff;
}

.register-left,
.register-right {
  padding: 80px;
}

.register-left h1 span {
  color: #38bdf8;
}

.sub {
  color: #94a3b8;
  margin-bottom: 20px;
}

.register-right input,
.register-right select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: #020617;
  border: 1px solid #1e293b;
  color: #fff;
  border-radius: 6px;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background: #38bdf8;
  border: none;
  color: #000;
  border-radius: 6px;
  font-weight: 600;
}
.success {
  color: #22c55e;
  margin-bottom: 10px;
}

